HELP.md
mvnw
.env
mvnw.cmd
target/
!.mvn/wrapper/maven-wrapper.jar
!src/main/frontend/src/main/**/target/
!src/main/frontend/src/test/**/target/
/src/test
node_modules
node
.gitignore
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!src/main/frontend/src/main/**/build/
!src/main/frontend/src/test/**/build/

### VS Code ###
.vscode/


