
.App {
    text-align: center;
}

h3 {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container, .container-fluid {
    margin-top: 20px;
}

.button {
    color: #007d85;
}

.body {
    border: 20px solid white;
    font-family: "Geogrotesque", Arial, sans-serif;
    color: #343536;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;
    -webkit-tap-highlight-color: #007d85;
}

.nav {

    padding: 20px 20px 0 20px;

    color: #343536;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fff;
    -webkit-tap-highlight-color: #007d85;
}


.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    padding: 20px 0;
}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #007D85;
    font-size: 16px;
}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    /*vertical-align: top;*/
}

.table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.table tbody tr:nth-child(odd) {
    background: #d8d8d8;
}

.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;

}


.tableRequests {
    width: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid #007D85;
    font-size: 15px;
    background: #fff !important;
}

.tableRequests th {
    font-weight: bold;
    padding: 7px;
    background: #007D85;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #007D85;
}

.tableRequests td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}

.tableRequests tbody tr:nth-child(even) {
    background: #f8f8f8 !important;
}

.navbar {

    display: flex;

    width: 100%;

    align-items: center;

    justify-content: space-between;

    padding: 30px 80px;

    background-color: #f2f2f2;

    color: #fff;

}

.logo {

    font-size: 32px;
    max-width: 280px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-hyphens: initial;
    -moz-hyphens: initial;
    -ms-hyphens: initial;
    hyphens: initial;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background: #007d85;
    color: #fff;
}

.div.services {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 940px;

}

.services > div.services {
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;


}

div.main {
    padding: 0 0 0 80px;
}

nav.service li .a:active, nav.service li a:focus, nav.service li a:hover,
div.main li .a:active, div.main li a:focus, div.main li a:hover {
    color: #007d85;
}

nav.service li a {
    display: inline-block;
    color: #343536;
    font-family: "Helvetica Neue LT", Arial, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.6;
}

div.main li a {
    display: inline-block;
    color: #343536;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
}

div.main > ul > li, nav.service > div > ul > li {
    padding-bottom: 5px;
}

nav.service li {
    margin-left: 20px;
    display: inline;

}

div.main > ul > li > a, nav.service > div > ul > li > a {
    border-bottom: 3px solid transparent;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

nav.service > div > ul > li > a:focus, nav.service > div > ul > li > a:active, nav.service > div > ul > li > a:hover,
div.main > ul > li > a:focus, div.main > ul > li > a:active, div.main > ul > li > a:hover {
    border-color: #007d85;
    color: #343536;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


*::selection {
    background: #007d85;
    color: #fff;
}

a {
    text-decoration: none;
    color: #343536;
}

nav.main > ul > li > a {
    z-index: 998;
    position: relative;
    display: inline-block;
    padding: 13px 0 10px;
    color: #343536;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
}


/*.form-box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    background: #eceffc;*/
/*    height: 50px;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*    margin-top: 40px;*/
/*    padding: 50px 40px;*/
/*    color: white;*/
/*    background: rgba(0, 0, 0, 0.8);*/

/*    box-shadow: 0 0 0 rgba(128, 128, 128, 0.109),*/
/*    0 1px 1px rgba(128, 128, 128, 0.155),*/
/*    0 2px 2px rgba(128, 128, 128, 0.195),*/
/*    0 4px 4px rgba(128, 128, 128, 0.241),*/
/*    0 12px 12px rgba(128, 128, 128, 0.35);*/
/*    !* position:relative for .prevBtn and .nextBtn position:absolute; *!*/
/*}*/

/*.form-box .form-input-material {*/
/*    margin: 12px 0;*/
/*}*/

/*.form-box .form-input-material .form-control-material {*/
/*    background-color: #303245;*/
/*    border-radius: 12px;*/
/*    border: 0;*/
/*    box-sizing: border-box;*/
/*    color: #eee;*/
/*    font-size: 18px;*/
/*    height: 100%;*/
/*    outline: 0;*/
/*    padding: 4px 20px 0;*/
/*    width: 100%;*/

/*}*/

/*.form-box .form-input-material input {*/
/*    color: white;*/
/*}*/

/*.form-box label {*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    margin: 0 auto;*/
/*}*/

/*.form-box h5, .form-box h3, .form-box h1 {*/
/*    font-size: 35px;*/
/*    text-align: center;*/
/*    color: #343536;*/
/*    margin: 0 0 .5vh 0;*/
/*}*/


/*.form-box input, textarea, label, button {*/
/*    display: block;*/

/*    width: 50%;*/
/*    padding: 25px 25px 25px 25px;*/

/*    margin: 0 auto;*/
/*    border: 0;*/

/*    font-size: 15px;*/
/*}*/

/*.form-box select {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*}*/

/*.form-box .btn {*/
/*    display: block;*/
/*    margin: 15px auto;*/

/*    width: 80px;*/
/*    height: 50px;*/
/*    text-align: center;*/

/*    line-height: 25px;*/
/*    font-size: 1.1em;*/


/*    text-decoration: none;*/


/*    background: #007d85;*/
/*    color: #fff;*/
/*    box-sizing: border-box;*/
/*    font-family: "Helvetica Neue LT", Arial, sans-serif;*/
/*    font-weight: bolder;*/
/*    padding: 10px 10px 10px 10px;*/
/*    vertical-align: middle;*/

/*    border: 10px;*/

/*    -webkit-transition: All 0.5s ease;*/

/*    -moz-transition: All 0.5s ease;*/

/*    -o-transition: All 0.5s ease;*/

/*    -ms-transition: All 0.5s ease;*/

/*    transition: All 0.5s ease;*/

/*}*/

/*buttons*/

.btn {
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 25px;
    font-size: 1.1em;
    display: inline-block;

    text-decoration: none;


    background: #007d85;
    color: #fff;
    box-sizing: border-box;
    font-family: "Helvetica Neue LT", Arial, sans-serif;
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;

    -webkit-transition: All 0.5s ease;

    -moz-transition: All 0.5s ease;

    -o-transition: All 0.5s ease;

    -ms-transition: All 0.5s ease;

    transition: All 0.5s ease;

}

.btn:hover, .form-box .btn-login:hover {

    background-color: #0ba5af;
    text-decoration: underline;

}

.buttons {
    text-align: center;
}


.btn, .external-cookies-warning button.external-cookies-ok, [class*="btn-"] {

}


/*login and reg forms */

.form {
    background-color: #343536;
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
    padding: 40px;
    width: 400px;
    margin: 50px auto;
}

.reg {
    margin: 30px auto;
    width: 500px;
}

.add-project{
    margin: 20px auto;
    width: 800px;
}

.title {
    color: #eee;
    text-align: center;
    font-family: "Geogrotesque", Arial, sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}


.form .input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #cbcbcb;
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: #007d85;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.error {
    color: #e05454;
    font-family: "Geogrotesque", Arial, sans-serif;
}

.ic3 {
    margin-top: 30px;
    text-align: center;
}

.qst {
    margin-top: 30px;
    color: #eee;
}

.qst a {
    margin-top: 0;
    color: #0ba5af;
    font-size: 18px;
    text-align: center;
    display: block;
    text-decoration: underline;
}

/*add project form*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    margin: 2rem auto;

    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: #282a2a;
    border-radius: 10px;
    padding: 20px 40px 60px 40px;
}
.card .card-form {
    padding: 1rem 1rem 2rem 1rem;


}

.card-form{
    background-color: #d7d7d7;
    width: 95%;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

}


.input1 {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 2rem 2rem 0 0;
    appearance: none;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;

}
.input1.input {
     margin-top: 1.5rem;
 }


.input-field {

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #343536;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;

}


.input-field::placeholder{
     color: transparent;
 }
/*.input-field[type="text"]:focus~label,*/
/*.input-field[type="text"]:valid {*/
/*    top: -5px;*/
/*}*/



.input-label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #d7d7d7;
    color: #343536;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}
.input-field:focus + .input-label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #007d85;
}

.input-field:focus {
    border: 2px solid #007d85;
}

.input-field:not(:placeholder-shown)+ .input-label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
/*.input-label-2{*/
/*    top: 0.2rem;*/
/*    position: absolute;*/
/*    transition: .25s ease;*/
/*    color: #cbcbcb;*/
/*}*/



/*input:focus + label, input:valid + label{*/
/*    transform: translateY(-20px);*/
/*}*/

/*.input1 .input-field:focus, .input1.input-field:valid {*/
/*    outline: 0;*/
/*    border-bottom-color: #007d85;*/
/*    color: #007d85;*/

/*}*/



.btn-add{
    position: relative;
    background-color: #007d85;
    font-family: "Geogrotesque", Arial, sans-serif;
}